body {
    font-family: 'Segoe Pro', sans-serif;
}

@font-face {
    font-family: 'Segoe Pro';
    src: url('/fonts/SEGOEUI.woff2') format('woff2'),
        url('/fonts/SEGOEUI.woff') format('woff'),
        url('/fonts/SEGOEUI.ttf') format('truetype');
    font-weight: 100 900;
    /* Adjust based on the font's range */
    font-stretch: 75% 125%;
    /* Adjust if variable width is supported */
    font-style: normal;
    background: #0e1b46;
    background: linear-gradient(58deg, #0e1b46 2%, #10141d 60%, rgba(71, 31, 133, .8) 100%);
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f9; */
    margin: 0;
    padding: 20px;
    background: #0e1b46;
    background: linear-gradient(58deg, #0e1b46 2%, #10141d 60%, rgba(71, 31, 133, .8) 100%);
}

.container {
    max-width: 1300px;
    margin: auto;
}

.calculator-main {
    display: flex;
    justify-content: space-between;
    /* Initially hide the calculator */
    gap: 20px;
}

.outer {
    /* display: none; */
    overflow: hidden;
    /* background-color: #f5f7f9; */
}

.flex_main {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}

.result_outer hr {
    margin: 20px 0;
    border: 1px solid #fffefe3b;
}

.right_input_flex {
    width: 45%;
}

.right_input_flex input {
    /* width: 100%; */
    padding: 10px;
    /* margin-bottom: 20px; */
    border: 2px solid #3b4252;
    border-radius: 10px;
    font-size: 16px;
    /* padding-left: 30px; */
    font-weight: 500;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, .16); */
    background-color: transparent;
    color: white;
    width: -webkit-fill-available;
    margin-top: 5px;
    text-align: left;

}

.right_input_flex select {
    /* width: 100%; */
    padding: 10px;
    /* margin-bottom: 20px; */
    border: 2px solid #3b4252;
    border-radius: 10px;
    font-size: 16px;
    /* padding-left: 30px; */
    font-weight: 500;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, .16); */
    background-color: transparent;
    color: white;
    width: -webkit-fill-available;
    margin-top: 5px;
    text-align: left;

}

.right_input_flex select option {
    background-color: rgb(34, 30, 30);
}

.right_input_flex label {
    font-weight: 500;
    font-size: 16px;
}

.calculator {
    /* max-width: 400px; */
    width: 47%;
    /* background: #f5f7f9; */
    padding: 15px;
    border-radius: 10px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    /* padding-left: 0; */
}

.calculator-right {
    /* max-width: 600px; */
    width: 40%;
    /* background: #f5f7f9; */
    padding: 20px;
    border-radius: 10px;
    position: relative;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    /* display: flex;
flex-direction: column;
justify-content: center; */
}

/* .calculator-right{
margin-top: 25px;
} */
.top_res {
    text-align: center;
}

.calculator-result {
    max-width: 400px;
}

.calculator h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.subjected_info h3 {
    text-align: center;
    margin-top: 0;
}

.calculator label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    color: white;
    font-weight: 500;

}

.calculator input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #3b4252;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 30px;
    font-weight: 500;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, .16); */
    background-color: transparent;
    color: white;
}

input:focus {
    border: none;
    outline: none;
    border: 2px solid #787878;
}

select:focus {
    border: none;
    outline: none;
    border: 2px solid #787878;
}

.down-payment-group {
    display: flex;
    /* gap: 10px; */
}

.down-payment-group {
    position: relative;
    width: 100%;
}

.down-payment-group input {
    flex: 1;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 260px;
}

.two_imput {
    width: 115px;
}

.down-payment-group {
    justify-content: end;
}

.input-wrapper input {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    /* text-align: end; */

}

.input-wrapper select {
    width: 100%;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #3b4252;
    border-radius: 10px;
    font-size: 16px;
    /* padding-left: 30px; */
    color: #1d1d1dbd;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    /* text-align: end; */
    background-color: transparent;
    font-weight: 500;
    color: white;
}

.input-wrapper select option {
    background-color: rgb(34, 30, 30);
}

.input-wrapper span {
    position: absolute;
    left: 10px;
    font-size: 12px;
    color: white;
    top: 12px;
}

.result_outer {
    top: 52%;
    left: 66%;
    transform: translate(-30%, -50%);
    position: fixed;
    /* width: 320px; */
    width: inherit;
    background: linear-gradient(360deg, #1c202b 6.08%, #1d222b 92.75%);
    box-shadow: inset 0 2px 14px rgba(57, 65, 88, .5);
    border-radius: 30px;
    padding: 2rem;
    color: #333;
    background-color: #193a52;
    color: white;
}

.result {
    text-align: center;
    background: linear-gradient(168.27deg, #b13ca6 12.46%, #8e1b84 90.35%);
    border-radius: clamp(15px, 2vw, 20px);
    padding: clamp(13px, 2vw, 32px) clamp(23px, 3vw, 32px);
    color: #fff;
    margin-top: clamp(16px, 2vw, 30px);


}

.result .result_label {
    /* font-size: 12px; */
    font-size: 11px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}

.result .result_data {
    font-weight: 700;
    font-size: 1.458333333vw;
    line-height: 1.25vw;
    color: #fff;
    margin-top: 12px;
}

.result .result_data_top {
    margin-top: 25px;
    font-weight: 800;
    font-size: 2.1875vw;
    line-height: 1.25vw;
    color: #fff;
}

.without-tag input {
    padding-left: 10px;
}

.flex_input {
    display: flex;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff94;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

.modal1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff94;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-direction: column;
    backdrop-filter: blur(10px);
}
.modal2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff94;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

button {
    cursor: pointer;
}

.modal-content {
    background: #fff;
    padding: 45px 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 450px;
    width: 100%;
    box-shadow: -2px 7px 56px 12px rgba(25, 58, 82, 0.75);
    -webkit-box-shadow: -2px 7px 56px 12px rgba(25, 58, 82, 0.75);
    -moz-box-shadow: -2px 7px 56px 12px rgba(25, 58, 82, 0.75);
    position: relative;
}
.resModalContent {
    height: 800px !important;
    max-width: 1000px !important;
    width: 1000px !important;
    overflow: scroll !important;
}

.modal-content h3 {
    color: #2d4156;
}

.user_form h3 {
    color: white;
    text-align: center;
}

.modal-content input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    color: #1d1d1d;
}

.modal-content button {
    padding: 10px 20px;
    background: #ac38a1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* .modal-content button:hover {
background: #193a52;
} */
.get_fees {
    text-align: end;
}

.get_fees button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.flex-result {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 10;
}

.flex-result .result_label {
    width: 100%;
    text-align: center;
    position: relative;
    color: white;
    text-transform: uppercase;

}

.readonly {
    background-color: #f5f7f9;
    cursor: not-allowed;
}

.flex-result .result_label1::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 30px;
    top: 0px;
    background-color: white;
    border-radius: 50px;

}

.flex-result .result_label2::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 40px;
    top: 0px;
    background-color: red;
    border-radius: 50px;

}

.flex-result .result_label3::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 52px;
    top: 0px;
    background-color: #42d3f5;
    border-radius: 50px;

}

.flex-result .result_label4::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 65px;
    top: 0px;
    background-color: #707070;
    border-radius: 50px;

}

.flex-result .result_data {
    width: 100%;

}

/* .top_res{
display: flex;
justify-content: center;
} */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.label1 {
    width: 48%;
    /* display: flex; */
    text-align: center;
}

.label2 {
    width: 48%;
    /* display: flex; */
    text-align: center;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.submit_user {
    text-align: right;
}

.submit_user button {
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    border: 1px solid #fd69d8;
    color: #fd69d8;
    font-weight: 600;
    font-size: 18px;
}

.img_logo {
    text-align: center;
}

.img_logo img {
    width: 50%;
    height: auto;
    margin: auto;
}

.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    /* border-radius: 10px; */
    overflow: hidden;
    margin-top: 25px;
}

.progress-bar {
    display: flex;
    /* Key to placing segments side by side */
    height: 5px;
    width: 100%;
}

.progress-segment {
    height: 100%;
    transition: width 0.3s ease;
    /* Smooth transition effect */
}

/* Assign unique colors to each segment */
.progress-segment.principal-interest {
    background-color: white;
    /* Green */
}

.progress-segment.home-insurance {
    background-color: red;
    /* Blue */
}

.progress-segment.property-tax {
    background-color: #42d3f5;
    /* Orange */
}

.progress-segment.hoa-fees {
    background-color: #707070;
    /* Red */
}

.flex_btns {
    display: flex;
    justify-content: end;
    position: fixed;
    right: 30px;
    top: 15px;
    z-index: 1;
}

.flex_btns .pdf button {
    padding: 10px 16px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    color: white;
    margin-right: 10px;
    border: 1px solid #fd69d8;
    color: #fd69d8;
    font-size: 16px;
    font-weight: 600;
}

.flex_btns .email button {
    padding: 10px 16px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    border: 1px solid #fd69d8;
    color: #fd69d8;
    font-size: 16px;
    font-weight: 600;
}

/* .input-wrapper input{
width: 204px!important;
}
.input-wrapper select{
width: 204px!important;
}
.two_imput input{
width: 102px!important;
} */
@media only screen and (max-width: 768px) {
    .container {
        width: 85%;
    }

    .calculator-main {
        display: block;
    }

    .flex-result {
        display: block;
    }

    .flex-result .result_label {
        width: 100%;
        padding-top: 9px;
    }

    .label1 {
        width: 100%;
        display: flex;
    }

    .label2 {
        width: 100%;
        display: flex;
    }

    .calculator {
        /* width: unset; */
        width: 100%;
    }

    .result_outer {
        position: unset;
        width: 90%;
        margin: auto;
    }

    .calculator-right {
        width: 90%;
    }

    .result_outer {
        transform: unset;
        margin-top: 15px;
        width: auto;
    }

    .calculator-main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .flex-result .result_label1::before {
        left: -12px;
        top: 10px;
    }

    .flex-result .result_label2::before {
        left: -12px;
        top: 10px;
    }

    .flex-result .result_label3::before {
        left: -12px;
        top: 10px;
    }

    .flex-result .result_label4::before {
        left: -12px;
        top: 10px;
    }

    .two_imput {
        width: 92px;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    .modal-content {
        background: #fff;
        padding: 45px 20px;
        border-radius: 10px;
        text-align: center;
        max-width: 330px;
        width: 100%;
        box-shadow: -2px 7px 56px 12px rgba(25, 58, 82, 0.75);
        -webkit-box-shadow: -2px 7px 56px 12px rgba(25, 58, 82, 0.75);
        -moz-box-shadow: -2px 7px 56px 12px rgba(25, 58, 82, 0.75);
        position: relative;
    }

    .close {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .result {
        padding: 50px 20px;
        margin-top: 20px !important;
    }

    .result .result_data {
        font-weight: 700;
        font-size: 15px;
        line-height: 1.25vw;
        color: #fff;
        margin-top: 12px;
    }

    body {
        padding: 0;
    }

    .flex_btns {
        display: flex;
        justify-content: end;
        position: unset;
        right: 30px;
        top: 0;
        z-index: 1;
        margin-top: 10px;
        margin-right: 15px;
        /* background: white; */
        /* width: 100%; */
        /* padding: 7px; */
    }

    .calculator-right {
        padding: 0;
        width: 100%;
    }

    .result_outer {
        padding: 1rem;
    }

    .img_logo img {
        width: 100%;
    }
}

/* Modal For Fee Response Styling of tables */
.loan-costs-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: Arial, sans-serif;
}

.loan-costs-section,
.other-costs-section {
    width: 48%;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.cost-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.item-label {
    font-weight: bold;
}

.item-value {
    font-weight: bold;
    color: #000;
}

.total-cost {
    font-size: 16px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.service-list {
    margin: 10px 0;
    padding-left: 20px;
}

.service-list li {
    list-style-type: disc;
}

.bg-dark-gray {
    background-color: #757575;
}

.one-table {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}